<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Drum Kit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Handtracker Component for gesture detection -->
  <app-handtracker (onPrediction)="handleGesture($event)"></app-handtracker>
  
  <div class="keys">
    <!-- Each drum key -->
    <div *ngFor="let key of drumKeys" 
         [attr.data-key]="key.code" 
         class="key" 
         (transitionend)="removeTransition($event)">
      <kbd>{{ key.label }}</kbd>
      <span class="sound">{{ key.sound }}</span>
    </div>
  </div>

  <!-- Audio elements for each sound -->
  <audio *ngFor="let key of drumKeys" 
         [attr.data-key]="key.code" 
         [src]="key.audioSrc">
  </audio>
</ion-content>
